body{
    background-image: url(../../../assets/images/arabian.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto; */
    background-position: center;
    background-attachment: fixed;
}