.container{
    display:grid;
    grid-template-columns: repeat();
    /* three columns each 100 pixles wide*/
    grid-template-rows: repeat(2,5000px);
    /* two rows each 100 pixels tall*/
    grid-gap: 10px;
    /* 10 pixels of gap between grid items*/
    text-shadow: 0 0 10px black;
}
.item{
    background-color: lightblue;
    color: white;
    padding:10px;
    text-align:center;
    border-radius: 10px;
}